<!-- <GridLayout rows="*" columns="auto, auto" verticalAlignment="top">
  <Image src="res://van" rowSpan="2" row="0" col="0" width="140" height="140" margin="3" verticalAlignment="top"></Image> 
  <Label text="Label 1" textWrap="true" row="0" col="0" verticalAlignment="bottom"></Label>
  <Image src="res://truck" row="0" col="1" rowSpan="2" width="140" height="140" margin="3" verticalAlignment="top"></Image> 
  <Label text="Label 2" textWrap="true" row="0" col="1" verticalAlignment="bottom"></Label>
</GridLayout> -->
<Page loaded="onPageLoaded" xmlns="http://schemas.nativescript.org/tns.xsd"></Page>
